/* RESET & BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f7fa;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* responsive styles */
@media screen and (max-width: 1023px) {
  .main-content {
    padding-right: 20px;
  }
}
